/* CSS Entry Point */

@import "font-awesome";

$bodybackgroundcolor: #2b4a2d;
$boxcolor: darken(#f3ebe2, 5%);
$header-color: #2b4a2d;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background: url('../images/pub_hero.png') no-repeat fixed;
	background-size: 100%;
}
p{
	font-family: 'EB Garamond', serif;
}
h1,h2,h3,h4,h5,h6, .tab-names{
	font-family: 'Quicksand', sans-serif;
}

.header {
	border: 1px solid black;
	border-top: 4px dashed black;
	height: 100px;
	background-color: #2b4a2d;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	img{
		transform: 2s all ease-in-out;
	}
	img:hover{
		transform: rotate(0.10turn);
		transition-duration: 1s;
	}
	h1{
		float:left;
		line-height: 100px;
	}
	i{
		font-size: 2em;
		padding: 0 2px 0 2px;
	}
}

.logo h1 {
	font-family: 'Alegreya SC', serif;
	font-size: 30px;
}

.content-section {
	// border: 1px solid black;
	margin-top: 500px;
	padding-top: 50px;
	background-color: $bodybackgroundcolor;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	.info{
		// border: 3px solid $header-color;
		border: 3px solid black;
		border-radius: 3px;
		background-color: $boxcolor;
		margin: 20px;
		padding: 20px;
		width: 28%;
		h3{
			margin-bottom: 30px;
			border-bottom: 1px dotted $header-color;
		}
		img{
			width: 100%;
			border: 2px solid black;
			border-radius: 100%;
			margin: 20px 0 20px 0;
		}
		div{
			margin-top: 10px;
			
				font-size: 1.1em;
			}
		
	}

	
}//end content-section

.main {
// margin: 10px 0px;
background-color: $bodybackgroundcolor;
display: flex;
flex-direction: row;
justify-content: space-between;
	.tabs-section {
		// border: 1px solid black;
		width: 75%;
		position: relative;
		margin: 30px;
		li{
			float: left;
			display: block;
			// background-color: $boxcolor;

			input[type=radio]{
				position: absolute;
				left: -5000px;

			}

			label.tab-names{
				// border: 1px solid black;
				border-radius: 5px 5px 0 0 ;
				border-bottom: 1px dotted black;
				padding: 10px 15px 10px 15px;
				background-color: #DCDBDB;
				transition: all 0.3s ease-in-out;
			}
			input:checked ~ div.tab-content{
			  display: block;
			
			}

			input:checked ~ label{
			  background-color: $boxcolor;
			  font-size: 1.3em;
			  height: 1.2em;
			  border-bottom: hidden;
			}

			div.tab-content{
				display: none;
				background-color: $boxcolor;
				padding: 25px;
			    width: 100%;
			    left:10px;
			    top: 49px;
			    position: absolute;
			    h2{
			    	margin-bottom: 15px;
			    }
			}
		}
		.our-story, {
		margin: 10px 10px 10px 0;
		padding: 10px;
		box-shadow: -2px 2px -2px #888888;
		// background-color: $boxcolor;
		blockquote{
			float: right;
			font-size: 1.5em;
			max-width: 300px;
			margin: 10px;
		}
		}
		.menu {
		// border: 1px dotted black;
		margin: 10px;
		padding: 10px;
			#menu-content{
			// border: 1px solid red;
			.menu-item {
				.itemTitle{
				font-weight: bold;
				margin-top: 20px;
				}
				.itemInfoBlock{

				}
				.item-descrip-price-line {
				// border: 1px solid green;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
					.itemPrice{
					// border: 1px solid green;
					padding-top: 15px;
					}
					.itemDescription {
					// border: 1px solid orange;
					width: 700px;
					padding-top: 15px;

					}
				}//end item-descrip-price-line
			}//end menu-item
			.entree-item {
				margin-top: 20px;
				.entree-name-icon-line {
				// border: 3px solid pink;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				.entree-name{
				font-weight: bold;
				// margin-top: 20px;
				}//end entree-name
				}//end entree-name-icon-line
			.entree-descrip-price-line {
			// border: 1px solid green;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
					.entree-description{
					padding-top: 15px;
					width: 700px;
					}
					.entree-price{
					padding-top: 15px;
					}
			}//end entree descrip price line
			}//end entree-item
			}//end menu-content
		}//end menu 
		}//end tabs-section
		.reservations {
			// border: 1px dotted black;
			margin: 10px;
			padding: 10px;
			form > input, form > label, form > select{
				display: block;
				font-size: 1.2em;
				
			}form > input{
				margin-bottom: 10px;
				width: 30%;
			}
			form > textarea, form > select{
				width: 50%;
				height: 80px;
			}
			button{
				font-size: 1.5em;
				padding: 10px;
				margin-top: 20px;
				border-radius: 5px;
				
				background-color: lighten($header-color, 15%);
				border: none;
				color: black;
				
				&:hover{
					color: white;
					background-color: $header-color;
					cursor: pointer;

				}
			}
		}
		.reviews {
		// border: 1px dotted black;
		margin: 10px;
		padding: 10px;
		}
	.food-photos {
		background-color: $bodybackgroundcolor;
		display: flex;
		margin: 30px;
		flex-direction: column;
		justify-content: space-around;
		img {
		margin-top: 20px;
		}//end img
	} //end food photos
}//end main


footer {
	border: 1px solid black;
	border-bottom: 4px dashed black;
	height: 200px;
	line-height: 200px;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: $header-color;
}




