/* CSS Entry Point */

@import "font-awesome";

.header {
	border: 1px solid black;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.hero-image {
	border: 1px dotted black;
	margin: 10px 0px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-section {
	border: 1px solid black;
	margin: 10px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	.latest-news {
	border: 1px dotted black;
	margin: 10px;
	}
	.todays-special {
	border: 1px dotted black;
	margin: 10px;
	}
	.our-location {
	border: 1px dotted black;
	margin: 10px;

	}
}//end content-section

.main {
margin: 10px 0px;
display: flex;
flex-direction: row;
	.tabs-section {
		border: 1px solid black;
		width: 800px;
		position: relative;
		li{
			float: left;
			display: block;

			input[type=radio]{
				position: absolute;
				left: -5000px;

			}

			label{
				border: 1px solid black;
				padding: 15px;
			}
			input:checked ~ div.tab-content{
			  display: block;
			
			}

			input:checked ~ label{
			  border-bottom: none;
			}

			div.tab-content{
				display: none;
			    width: 100%;
			    left:0;
			    position: absolute;
			}
		}
		.our-story, {
		border: 1px dotted black;
		margin: 10px;
		padding: 10px;
		}
		.menu {
		border: 1px dotted black;
		margin: 10px;
		padding: 10px;
		}
		.reservations {
		border: 1px dotted black;
		margin: 10px;
		padding: 10px;
		}
		.reviews {
		border: 1px dotted black;
		margin: 10px;
		padding: 10px;
		}
		}//end tabs-section
	.food-photos {
		background-color: lighten(green, 60%);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		img {
		margin: 20px;
		}//end img
		}//end food-photos
}//end main

footer {
	border: 1px solid black;
	margin: 10px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}




