/* CSS Entry Point */

@import "font-awesome";

.header {
	border: 1px solid black;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	i{
		font-size: 2em;
		padding: 0 2px 0 2px;
	}
}

.logo {
	font-family: 'Alegreya SC', serif;
	font-size: 30px;
}

.hero-image {
	border: 1px dotted black;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		width: 100%;
	}
}

.content-section {
	border: 1px solid black;
	margin: 10px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	.latest-news {
	border: 1px dotted black;
	margin: 10px;
	width: 30%;
	}
	.todays-special {
	border: 1px dotted black;
	margin: 10px;
	width: 30%;
	}
	.our-location {
	border: 1px dotted black;
	margin: 10px;
	width: 30%;

	}
}//end content-section

.main {
margin: 10px 0px;
display: flex;
flex-direction: row;
justify-content: space-between;
	.tabs-section {
		border: 1px solid black;
		width: 75%;
		position: relative;
		li{
			float: left;
			display: block;

			input[type=radio]{
				position: absolute;
				left: -5000px;

			}

			label.tab-names{
				border: 1px solid black;
				border-radius: 5px 5px 0 0 ;
				border-bottom: none;
				padding: 10px 15px 10px 15px;
				background-color: #DCDBDB;
				transition: all 0.3s ease-in-out;
			}
			input:checked ~ div.tab-content{
			  display: block;
			
			}

			input:checked ~ label{
			  background-color: white;
			}

			div.tab-content{
				display: none;
			    width: 100%;
			    left:0;
			    top: 53px;
			    position: absolute;
			}
		}
		.our-story, {
		border: 1px dotted black;
		margin: 10px;
		padding: 10px;
		}
		.menu {
		border: 1px dotted black;
		margin: 10px;
		padding: 10px;
			#menu-content{
			border: 1px solid red;
			.menu-item {
				.itemTitle{
				}
				.item-descrip-price-line {
				border: 1px solid green;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
					.itemPrice{
					// border: 1px solid green;
					}
					.itemDescription {
					// border: 1px solid orange;
					width: 400px;
					}
				}//end item-descrip-price-line
			}//end menu-item
			}//end menu-content
		}//end menu
		.reservations {
		border: 1px dotted black;
		margin: 10px;
		padding: 10px;
		form > input, form > label, form > select{
			display: block;
		}
		}
		.reviews {
		border: 1px dotted black;
		margin: 10px;
		padding: 10px;
		}
		}//end tabs-section
	.food-photos {
		background-color: #d3b08d;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		img {
		margin: 20px;
		}//end img
		}//end food-photos
}//end main

footer {
	border: 1px solid black;
	margin: 10px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}




